.idea/
.gitee/
log/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
.svn/
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
**/node_modules
**/webapp/Content-dist
**/webapp/Views-dist
**/webapp/build
**/webapp/manifest.json
/tcss-service-auth/*.iml
