<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
 classpath:mapper/ProjectMapper.xml
 -->
<mapper namespace="cn.tedu.ttms.attachement.dao.AttachementDao">

    <select id="findPageObjects" 
    resultType="cn.tedu.ttms.attachement.entity.Attachement">
       select *
       from travelmess as p left join travel as b on p.ttid = b.tid
        <where>
        1=1
        <if test="entity.tname!=null and entity.tname!=''">
             and b.tname like CONCAT ("%",#{entity.tname},"%")
        </if>
        <if test="entity.dname!=null and entity.dname!=''">
            and p.dname=#{entity.dname}
        </if>
        <if test="entity.tid!=null and entity.tid!=''">
            and p.tid=#{entity.tid}
        </if>
        <if test="entity.fnumber!=null and entity.fnumber!='' and entity.enumber!=null and entity.enumber!=''">
            and #{entity.fnumber} &lt; p.tnum  &gt; 5 #{entity.enumber}
        </if>
      </where>
       order by createdTime desc
       <if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
    </select>
     	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from travelmess p left join travel as b on p.ttid = b.tid
		<where>
			1=1
		<if test="entity.tname!=null and entity.tname!=''">
             and b.tname like CONCAT ("%",#{entity.tname},"%")
        </if>
        <if test="entity.dname!=null and entity.dname!=''">
            and p.dname=#{entity.dname}
        </if>
        <if test="entity.fnumber!=null and entity.fnumber!='' and entity.enumber!=null and entity.enumber!=''">
            and #{entity.fnumber} &lt; p.tnum  &gt; 5 #{entity.enumber}
        </if>
		</where>
	</select>
    <select id="findAttachementById"
     resultType="cn.tedu.ttms.attachement.entity.Attachement">
       select *
       from travelmess
       where tid=#{tid}
    </select>
    
    <insert id="insertObject" parameterType="cn.tedu.ttms.attachement.entity.Attachement">

		INSERT INTO travelmess
		(
		tid,
		tnum,
		tline,
		dname,
		dcard,
		dphone,
		dcont,
		ttid,
		createdTime
		)
		values(
		#{tid},
		#{tnum},
		#{tline},
		#{dname},
		#{dcard},
		#{dphone},
		#{dcont},
		#{ttid},
		#{createdTime}
		)
	</insert>
    
</mapper> 