<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- classpath:mapper/ProjectMapper.xml -->
<mapper namespace="cn.tedu.ttms.camera.dao.CameraDao">
	<select id="findPageObjects"
		resultType="cn.tedu.ttms.camera.entity.Camera">
		select p.cid,p.cname,p.nChannel,p.model,p.brand,p.tcode,p.vid from camera as p left join video as b on p.vid = b.vid
		where p.vid = #{entity.vid}
		<if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
	</select>
	<!-- 获得记录总数 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from camera p
	</select>
	<select id="findObjectById" parameterType="java.lang.Integer"
		resultType="map">
		select *
		from
		camera
		where
		cid = #{cid}
	</select>
	<insert id="insertObject"
		parameterType="cn.tedu.ttms.camera.entity.Camera">

		INSERT INTO camera
		(
		cid,
		cname,
		nChannel,
		model,
		brand,
		tcode,
		vid		
		)
		values(
		#{cid},
		#{cname},
		#{nChannel},
		#{model},
		#{brand},
		#{tcode},
		#{vid}
		)
	</insert>
	<update id="updateObject"
		parameterType="cn.tedu.ttms.camera.entity.Camera">
		update camera
		set
		cname=#{entity.cname},
		nChannel=#{entity.nChannel},
		model=#{ entity.model},
		brand=#{entity.brand},
		tcode=#{entity.tcode},
		where cid=#{entity.cid};
	</update>
	<delete id="deletObject" parameterType="java.lang.Integer">
		delete from camera where
		cid = #{cid}
	</delete>

</mapper> 