<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dccj.dao.CarCenterMapper">
  <resultMap id="BaseResultMap" type="com.dccj.entity.CarCenter">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="car_num" jdbcType="VARCHAR" property="carNum" />
    <result column="car_brand_num" jdbcType="VARCHAR" property="carBrandNum" />
    <result column="car_begin_date" jdbcType="VARCHAR" property="carBeginDate" />
    <result column="car_use" jdbcType="VARCHAR" property="carUse" />
    <result column="car_drive_num" jdbcType="VARCHAR" property="carDriveNum" />
    <result column="car_people" jdbcType="VARCHAR" property="carPeople" />
    <result column="car_address" jdbcType="VARCHAR" property="carAddress" />
    <result column="car_reg_num" jdbcType="VARCHAR" property="carRegNum" />
    <result column="car_id_num" jdbcType="VARCHAR" property="carIdNum" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="car_weight" jdbcType="VARCHAR" property="carWeight" />
    <result column="car_tow_weight" jdbcType="VARCHAR" property="carTowWeight" />
    <result column="car_load_people" jdbcType="VARCHAR" property="carLoadPeople" />
    <result column="car_size" jdbcType="VARCHAR" property="carSize" />
    <result column="car_total_weight" jdbcType="VARCHAR" property="carTotalWeight" />
    <result column="car_record_num" jdbcType="VARCHAR" property="carRecordNum" />
    <result column="car_check_log" jdbcType="VARCHAR" property="carCheckLog" />
    <result column="car_fuel" jdbcType="VARCHAR" property="carFuel" />
    <result column="car_load_approved" jdbcType="VARCHAR" property="carLoadApproved" />
    <result column="car_remark" jdbcType="VARCHAR" property="carRemark" />
    <result column="car_img_front" jdbcType="VARCHAR" property="carImgFront" />
    <result column="car_img_back" jdbcType="VARCHAR" property="carImgBack" />
    <result column="car_at_type" jdbcType="VARCHAR" property="carAtType" />
    <result column="car_color" jdbcType="VARCHAR" property="carColor" />
    <result column="car_drive_type" jdbcType="VARCHAR" property="carDriveType" />
    <result column="car_out" jdbcType="VARCHAR" property="carOut" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="car_attachment_1" jdbcType="VARCHAR" property="carAttachment1" />
    <result column="car_attachment_2" jdbcType="VARCHAR" property="carAttachment2" />
    <result column="car_attachment_3" jdbcType="VARCHAR" property="carAttachment3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, mobile, username, car_num, car_brand_num, car_begin_date, car_use, car_drive_num, 
    car_people, car_address, car_reg_num, car_id_num, car_type, car_weight, car_tow_weight, 
    car_load_people, car_size, car_total_weight, car_record_num, car_check_log, car_fuel, 
    car_load_approved, car_remark, car_img_front, car_img_back, car_at_type, car_color, 
    car_drive_type, car_out, create_time, update_time, car_attachment_1, car_attachment_2, 
    car_attachment_3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from car_center
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from car_center
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dccj.entity.CarCenter" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into car_center (user_id, mobile, username, 
      car_num, car_brand_num, car_begin_date, 
      car_use, car_drive_num, car_people, 
      car_address, car_reg_num, car_id_num, 
      car_type, car_weight, car_tow_weight, 
      car_load_people, car_size, car_total_weight, 
      car_record_num, car_check_log, car_fuel, 
      car_load_approved, car_remark, car_img_front, 
      car_img_back, car_at_type, car_color, 
      car_drive_type, car_out, create_time, 
      update_time, car_attachment_1, car_attachment_2, 
      car_attachment_3)
    values (#{userId,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{carNum,jdbcType=VARCHAR}, #{carBrandNum,jdbcType=VARCHAR}, #{carBeginDate,jdbcType=VARCHAR}, 
      #{carUse,jdbcType=VARCHAR}, #{carDriveNum,jdbcType=VARCHAR}, #{carPeople,jdbcType=VARCHAR}, 
      #{carAddress,jdbcType=VARCHAR}, #{carRegNum,jdbcType=VARCHAR}, #{carIdNum,jdbcType=VARCHAR}, 
      #{carType,jdbcType=VARCHAR}, #{carWeight,jdbcType=VARCHAR}, #{carTowWeight,jdbcType=VARCHAR}, 
      #{carLoadPeople,jdbcType=VARCHAR}, #{carSize,jdbcType=VARCHAR}, #{carTotalWeight,jdbcType=VARCHAR}, 
      #{carRecordNum,jdbcType=VARCHAR}, #{carCheckLog,jdbcType=VARCHAR}, #{carFuel,jdbcType=VARCHAR}, 
      #{carLoadApproved,jdbcType=VARCHAR}, #{carRemark,jdbcType=VARCHAR}, #{carImgFront,jdbcType=VARCHAR}, 
      #{carImgBack,jdbcType=VARCHAR}, #{carAtType,jdbcType=VARCHAR}, #{carColor,jdbcType=VARCHAR}, 
      #{carDriveType,jdbcType=VARCHAR}, #{carOut,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{carAttachment1,jdbcType=VARCHAR}, #{carAttachment2,jdbcType=VARCHAR}, 
      #{carAttachment3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dccj.entity.CarCenter" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into car_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="carNum != null">
        car_num,
      </if>
      <if test="carBrandNum != null">
        car_brand_num,
      </if>
      <if test="carBeginDate != null">
        car_begin_date,
      </if>
      <if test="carUse != null">
        car_use,
      </if>
      <if test="carDriveNum != null">
        car_drive_num,
      </if>
      <if test="carPeople != null">
        car_people,
      </if>
      <if test="carAddress != null">
        car_address,
      </if>
      <if test="carRegNum != null">
        car_reg_num,
      </if>
      <if test="carIdNum != null">
        car_id_num,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="carWeight != null">
        car_weight,
      </if>
      <if test="carTowWeight != null">
        car_tow_weight,
      </if>
      <if test="carLoadPeople != null">
        car_load_people,
      </if>
      <if test="carSize != null">
        car_size,
      </if>
      <if test="carTotalWeight != null">
        car_total_weight,
      </if>
      <if test="carRecordNum != null">
        car_record_num,
      </if>
      <if test="carCheckLog != null">
        car_check_log,
      </if>
      <if test="carFuel != null">
        car_fuel,
      </if>
      <if test="carLoadApproved != null">
        car_load_approved,
      </if>
      <if test="carRemark != null">
        car_remark,
      </if>
      <if test="carImgFront != null">
        car_img_front,
      </if>
      <if test="carImgBack != null">
        car_img_back,
      </if>
      <if test="carAtType != null">
        car_at_type,
      </if>
      <if test="carColor != null">
        car_color,
      </if>
      <if test="carDriveType != null">
        car_drive_type,
      </if>
      <if test="carOut != null">
        car_out,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="carAttachment1 != null">
        car_attachment_1,
      </if>
      <if test="carAttachment2 != null">
        car_attachment_2,
      </if>
      <if test="carAttachment3 != null">
        car_attachment_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carBrandNum != null">
        #{carBrandNum,jdbcType=VARCHAR},
      </if>
      <if test="carBeginDate != null">
        #{carBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="carUse != null">
        #{carUse,jdbcType=VARCHAR},
      </if>
      <if test="carDriveNum != null">
        #{carDriveNum,jdbcType=VARCHAR},
      </if>
      <if test="carPeople != null">
        #{carPeople,jdbcType=VARCHAR},
      </if>
      <if test="carAddress != null">
        #{carAddress,jdbcType=VARCHAR},
      </if>
      <if test="carRegNum != null">
        #{carRegNum,jdbcType=VARCHAR},
      </if>
      <if test="carIdNum != null">
        #{carIdNum,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carWeight != null">
        #{carWeight,jdbcType=VARCHAR},
      </if>
      <if test="carTowWeight != null">
        #{carTowWeight,jdbcType=VARCHAR},
      </if>
      <if test="carLoadPeople != null">
        #{carLoadPeople,jdbcType=VARCHAR},
      </if>
      <if test="carSize != null">
        #{carSize,jdbcType=VARCHAR},
      </if>
      <if test="carTotalWeight != null">
        #{carTotalWeight,jdbcType=VARCHAR},
      </if>
      <if test="carRecordNum != null">
        #{carRecordNum,jdbcType=VARCHAR},
      </if>
      <if test="carCheckLog != null">
        #{carCheckLog,jdbcType=VARCHAR},
      </if>
      <if test="carFuel != null">
        #{carFuel,jdbcType=VARCHAR},
      </if>
      <if test="carLoadApproved != null">
        #{carLoadApproved,jdbcType=VARCHAR},
      </if>
      <if test="carRemark != null">
        #{carRemark,jdbcType=VARCHAR},
      </if>
      <if test="carImgFront != null">
        #{carImgFront,jdbcType=VARCHAR},
      </if>
      <if test="carImgBack != null">
        #{carImgBack,jdbcType=VARCHAR},
      </if>
      <if test="carAtType != null">
        #{carAtType,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null">
        #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carDriveType != null">
        #{carDriveType,jdbcType=VARCHAR},
      </if>
      <if test="carOut != null">
        #{carOut,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carAttachment1 != null">
        #{carAttachment1,jdbcType=VARCHAR},
      </if>
      <if test="carAttachment2 != null">
        #{carAttachment2,jdbcType=VARCHAR},
      </if>
      <if test="carAttachment3 != null">
        #{carAttachment3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dccj.entity.CarCenter">
    <!--@mbg.generated-->
    update car_center
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null">
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carBrandNum != null">
        car_brand_num = #{carBrandNum,jdbcType=VARCHAR},
      </if>
      <if test="carBeginDate != null">
        car_begin_date = #{carBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="carUse != null">
        car_use = #{carUse,jdbcType=VARCHAR},
      </if>
      <if test="carDriveNum != null">
        car_drive_num = #{carDriveNum,jdbcType=VARCHAR},
      </if>
      <if test="carPeople != null">
        car_people = #{carPeople,jdbcType=VARCHAR},
      </if>
      <if test="carAddress != null">
        car_address = #{carAddress,jdbcType=VARCHAR},
      </if>
      <if test="carRegNum != null">
        car_reg_num = #{carRegNum,jdbcType=VARCHAR},
      </if>
      <if test="carIdNum != null">
        car_id_num = #{carIdNum,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carWeight != null">
        car_weight = #{carWeight,jdbcType=VARCHAR},
      </if>
      <if test="carTowWeight != null">
        car_tow_weight = #{carTowWeight,jdbcType=VARCHAR},
      </if>
      <if test="carLoadPeople != null">
        car_load_people = #{carLoadPeople,jdbcType=VARCHAR},
      </if>
      <if test="carSize != null">
        car_size = #{carSize,jdbcType=VARCHAR},
      </if>
      <if test="carTotalWeight != null">
        car_total_weight = #{carTotalWeight,jdbcType=VARCHAR},
      </if>
      <if test="carRecordNum != null">
        car_record_num = #{carRecordNum,jdbcType=VARCHAR},
      </if>
      <if test="carCheckLog != null">
        car_check_log = #{carCheckLog,jdbcType=VARCHAR},
      </if>
      <if test="carFuel != null">
        car_fuel = #{carFuel,jdbcType=VARCHAR},
      </if>
      <if test="carLoadApproved != null">
        car_load_approved = #{carLoadApproved,jdbcType=VARCHAR},
      </if>
      <if test="carRemark != null">
        car_remark = #{carRemark,jdbcType=VARCHAR},
      </if>
      <if test="carImgFront != null">
        car_img_front = #{carImgFront,jdbcType=VARCHAR},
      </if>
      <if test="carImgBack != null">
        car_img_back = #{carImgBack,jdbcType=VARCHAR},
      </if>
      <if test="carAtType != null">
        car_at_type = #{carAtType,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null">
        car_color = #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carDriveType != null">
        car_drive_type = #{carDriveType,jdbcType=VARCHAR},
      </if>
      <if test="carOut != null">
        car_out = #{carOut,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carAttachment1 != null">
        car_attachment_1 = #{carAttachment1,jdbcType=VARCHAR},
      </if>
      <if test="carAttachment2 != null">
        car_attachment_2 = #{carAttachment2,jdbcType=VARCHAR},
      </if>
      <if test="carAttachment3 != null">
        car_attachment_3 = #{carAttachment3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dccj.entity.CarCenter">
    <!--@mbg.generated-->
    update car_center
    set user_id = #{userId,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      car_num = #{carNum,jdbcType=VARCHAR},
      car_brand_num = #{carBrandNum,jdbcType=VARCHAR},
      car_begin_date = #{carBeginDate,jdbcType=VARCHAR},
      car_use = #{carUse,jdbcType=VARCHAR},
      car_drive_num = #{carDriveNum,jdbcType=VARCHAR},
      car_people = #{carPeople,jdbcType=VARCHAR},
      car_address = #{carAddress,jdbcType=VARCHAR},
      car_reg_num = #{carRegNum,jdbcType=VARCHAR},
      car_id_num = #{carIdNum,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_weight = #{carWeight,jdbcType=VARCHAR},
      car_tow_weight = #{carTowWeight,jdbcType=VARCHAR},
      car_load_people = #{carLoadPeople,jdbcType=VARCHAR},
      car_size = #{carSize,jdbcType=VARCHAR},
      car_total_weight = #{carTotalWeight,jdbcType=VARCHAR},
      car_record_num = #{carRecordNum,jdbcType=VARCHAR},
      car_check_log = #{carCheckLog,jdbcType=VARCHAR},
      car_fuel = #{carFuel,jdbcType=VARCHAR},
      car_load_approved = #{carLoadApproved,jdbcType=VARCHAR},
      car_remark = #{carRemark,jdbcType=VARCHAR},
      car_img_front = #{carImgFront,jdbcType=VARCHAR},
      car_img_back = #{carImgBack,jdbcType=VARCHAR},
      car_at_type = #{carAtType,jdbcType=VARCHAR},
      car_color = #{carColor,jdbcType=VARCHAR},
      car_drive_type = #{carDriveType,jdbcType=VARCHAR},
      car_out = #{carOut,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      car_attachment_1 = #{carAttachment1,jdbcType=VARCHAR},
      car_attachment_2 = #{carAttachment2,jdbcType=VARCHAR},
      car_attachment_3 = #{carAttachment3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-29-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from car_center
    where user_id=#{userId,jdbcType=INTEGER}
    order by create_time desc
  </select>
</mapper>