<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- classpath:mapper/ProjectMapper.xml -->
<mapper namespace="com.dccj.dao.ProjectDao">


	<!-- 查询项目信息 -->
	<select id="findPageObjects"
		resultType="com.dccj.entity.Project">
		select
		p.tid,p.tname,p.type,p.content,p.lng,p.lat,p.ttid,p.ttime,p.path,b.tname
		as ttname from travleurgent as p left join travel as b on p.ttid =
		b.tid
		<where>
			1=1
			<if test="project.tname!=null and project.tname!=''">
				AND p.tname like CONCAT
				("%",#{project.tname},"%")
			</if>
			<if test="project.type!=null and project.type!=''">
				AND p.type =#{project.type}
			</if>
			<if test="project.tid!=null and project.tid!=''">
				AND p.tid =#{project.tid}
			</if>
			<if
				test="project.starttime!=null and project.starttime!='' and  project.endtime!=null and project.endtime!='' ">
				AND p.ttime between #{project.starttime} and #{project.endtime}
			</if>
		</where>
		ORDER BY p.ttime DESC
		<if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
	</select>

	<!-- 获得记录总数 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from travleurgent p
		<where>
			1=1
			<if test="entity.tname!=null and entity.tname!=''">
				and p.tname like CONCAT ("%",#{entity.tname},"%")
			</if>
			<if test="entity.type!=null and entity.type!=''">
				AND p.type =#{entity.type}
			</if>
			<if
				test="entity.starttime!=null and entity.starttime!='' and  entity.endtime!=null and entity.endtime!='' ">
				AND p.ttime between #{entity.starttime} and #{entity.endtime}
			</if>
		</where>
	</select>
	<select id="findParameterTime" resultType="com.dccj.entity.ParameterEntity">
		SELECT COUNT(*) AS jan,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-02')) AS feb,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-03')) AS mar,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-04')) AS apr,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-05')) AS may,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-06')) AS jun,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-07')) AS jul,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') =  CONCAT(YEAR(NOW()),'-08')) AS aug,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-09')) AS sep,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-10')) AS oct,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-11')) AS nov,
		(SELECT COUNT(*) FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-12')) AS decs
		FROM travleurgent tt
		WHERE DATE_FORMAT(tt.ttime,'%Y-%m') = CONCAT(YEAR(NOW()),'-01')
	</select>
	<insert id="insertObject" parameterType="com.dccj.entity.Project">

		INSERT INTO travleurgent
		(
		tid,
		tname,
		type,
		content,
		lat,
		lng,
		ttid,
		ttime,
		path
		)
		values(
		#{tid},
		#{tname},
		#{type},
		#{content},
		#{lat},
		#{lng},
		#{ttid},
		#{ttime},
		#{path}
		)
	</insert>

</mapper> 