<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- classpath:mapper/ProjectMapper.xml -->
<mapper namespace="cn.tedu.ttms.travelagency.dao.TravelagencyDao">

	<select id="findPageObjects"
		resultType="cn.tedu.ttms.travelagency.entity.TravelagencyEntity">
		select * from travel p
		<where>
			1=1
			<if test="entity.tcode!=null and entity.tcode!=''">
				AND p.tcode like CONCAT
				("%",#{entity.tcode},"%")
			</if>
			<if test="entity.tname!=null and entity.tname!=''">
				AND p.tname like CONCAT
				("%",#{entity.tname},"%")
			</if>
			<if test="entity.contats!=null and entity.contats!=''">
				AND p.contats like CONCAT
				("%",#{entity.contats},"%")
			</if>
			<if test="entity.user!=null and entity.user!=''">
				AND p.user = #{entity.user}
			</if>
		</where>
		<if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
	</select>

	<!-- 获得记录总数 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from travel p
		<where>
			1=1
			<if test="entity.tcode!=null and entity.tcode!=''">
				AND p.tcode like CONCAT
				("%",#{entity.tcode},"%")
			</if>
			<if test="entity.tname!=null and entity.tname!=''">
				AND p.tname like CONCAT
				("%",#{entity.tname},"%")
			</if>
			<if test="entity.contats!=null and entity.contats!=''">
				AND p.contats like CONCAT
				("%",#{entity.contats},"%")
			</if>
		</where>
	</select>
	<select id="findObjectById" parameterType="java.lang.Integer"
		resultType="map">
		select *
		from
		travel
		where
		tid = #{tid}
	</select>
	<insert id="insertObject"
		parameterType="cn.tedu.ttms.travelagency.entity.TravelagencyEntity">

		INSERT INTO travel
		(
		tcode,
		tname,
		legal,
		contats,
		phone,
		stime,
		address,
		expire,
		lng,
		lat,
		user,
		passwd
		)
		values(
		#{tcode},
		#{tname},
		#{legal},
		#{contats},
		#{phone},
		#{stime},
		#{address},
		#{expire},
		#{lng},
		#{lat},
		#{user},
		#{passwd}
		)
	</insert>
	<update id="updateObject"
		parameterType="cn.tedu.ttms.travelagency.entity.TravelagencyEntity">
		update travel
		set
		tcode=#{entity.tcode},
		tname=#{entity.tname},
		legal=#{entity.legal},
		contats=#{
		entity.contats},
		phone=#{entity.phone},
		stime=#{entity.stime},
		address=#{entity.address},
		expire=#{entity.expire},
		lng=#{entity.lng},
		lat=#{entity.lat},
		user=#{entity.user},
		passwd=#{entity.passwd}
		where
		tid=#{entity.tid};
	</update>
	<delete id="deletObject" parameterType="java.lang.Integer">
		delete from travel where
		tid = #{tid}
	</delete>
	<insert id="insertExobject" parameterType="cn.tedu.ttms.travelagency.entity.ExamineEntity">

		INSERT INTO examine
		(
		tid,
		examinetime,
		content,
		result,
		exaname
		)
		values(
		#{tid},
		#{examinetime},
		#{content},
		#{result},
		#{exaname}
		)
	</insert>

	<select id="comExamineName" resultType="cn.tedu.ttms.travelagency.entity.ExamineNameEntity">
		select id as eid,realname as examinename from sys_users where performer = 2
	</select>
	<insert id="insertExname"
		parameterType="cn.tedu.ttms.travelagency.entity.ExamineNameEntity">
		INSERT INTO examinename
		(
		examinename
		)
		values(
		#{examinename}
		)
	</insert>
		<update id="updateExname" parameterType="cn.tedu.ttms.travelagency.entity.ExamineNameEntity">
		update examinename
		set
		examinename=#{entity.examinename}
		where
		eid=#{entity.eid};
	</update>
		<select id="findExamineById" parameterType="java.lang.Integer" resultType="map">
		select *
		from
		examinename
		where
		eid = #{eid}
	</select>
	<select id="findRecordObject"
		resultType="cn.tedu.ttms.travelagency.entity.ExamineEntity">
		select p.tid,p.eid,p.examinetime,p.content,p.result,p.exaname
		,b.tname as name,b.tcode as number,b.expire as time 
		from examine as p left join travel as b on p.tid = b.tid 
		<where>
			1=1
			<if test="entity.name!=null and entity.name!=''">
				AND b.tname like CONCAT
				("%",#{entity.name},"%")
			</if>
			<if test="entity.result!=null and entity.result!=''">
				 and p.result=#{entity.result}
			</if>
			<if test="entity.exaname!=null and entity.exaname!=''">
				AND p.exaname like CONCAT
				("%",#{entity.exaname},"%")
			</if>
			<if test="entity.examinetime!=null and entity.examinetime!=''">
				 and p.examinetime=#{entity.examinetime}
			</if>
		</where>
		<if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
	</select>
	<select id="getRowCountRecord" resultType="java.lang.Integer">
		select count(*) from examine as p left join travel as b on p.tid = b.tid 
		<where>
			1=1
			<if test="entity.name!=null and entity.name!=''">
				AND b.tname like CONCAT
				("%",#{entity.name},"%")
			</if>
			<if test="entity.result!=null and entity.result!=''">
				 and p.result=#{entity.result}
			</if>
			<if test="entity.exaname!=null and entity.exaname!=''">
				AND p.exaname like CONCAT
				("%",#{entity.exaname},"%")
			</if>
			<if test="entity.examinetime!=null and entity.examinetime!=''">
				 and p.examinetime=#{entity.examinetime}
			</if>
		</where>
	</select>
	<select id="findrecordById" parameterType="java.lang.Integer" resultType="map">
		select *
		from
		examine
		where
		eid = #{eid}
	</select>
<select id="findTravelParameterTime" resultType="cn.tedu.ttms.travelagency.entity.ParameterTravelEntity">
		SELECT COUNT(*) AS jan,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-02')) AS feb,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-03')) AS mar,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-04')) AS apr,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-05')) AS may,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-06')) AS jun,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-07')) AS jul,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') =  CONCAT(YEAR(NOW()),'-08')) AS aug,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-09')) AS sep,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-10')) AS oct,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-11')) AS nov,
		(SELECT COUNT(*) FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-12')) AS decs
		FROM travelmess tt
		WHERE DATE_FORMAT(tt.createdTime,'%Y-%m') = CONCAT(YEAR(NOW()),'-01')
	</select>
</mapper> 