<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- classpath:mapper/ProjectMapper.xml -->
<mapper namespace="cn.tedu.ttms.video.dao.VideoDao">

	<select id="findPageObjects"
		resultType="cn.tedu.ttms.video.entity.VideoEntity">
		select p.vid,p.tcode,p.vname,p.type,p.longitude,p.latitude,p.dvrIP,p.vport,p.userName,
		(select count(*) from camera as c where c.vid = p.vid)as number from video p
		<where>
			1=1
			<if test="entity.tcode!=null and entity.tcode!=''">
				AND p.tcode like CONCAT
				("%",#{entity.tcode},"%")
			</if>
			<if test="entity.vname!=null and entity.vname!=''">
				AND p.vname like CONCAT
				("%",#{entity.vname},"%")
			</if>
			<if test="entity.dvrIP!=null and entity.dvrIP!=''">
				AND p.dvrIP like CONCAT
				("%",#{entity.dvrIP},"%")
			</if>
		</where>
		<if
			test="pageObj!=null and pageObj.pageSize != 0 and pageObj.pageSize != null">
			LIMIT #{pageObj.startIndex},#{pageObj.pageSize}
		</if>
	</select>

	<!-- 获得记录总数 -->
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) from video p
		<where>
			1=1
			<if test="entity.tcode!=null and entity.tcode!=''">
				AND p.tcode like CONCAT
				("%",#{entity.tcode},"%")
			</if>
			<if test="entity.vname!=null and entity.vname!=''">
				AND p.vname like CONCAT
				("%",#{entity.vname},"%")
			</if>
			<if test="entity.dvrIP!=null and entity.dvrIP!=''">
				AND p.dvrIP like CONCAT
				("%",#{entity.dvrIP},"%")
			</if>
		</where>
	</select>
	<select id="findObjectById" parameterType="java.lang.Integer"
		resultType="map">
		select *
		from
		video
		where
		vid = #{vid}
	</select>
	<insert id="insertObject"
		parameterType="cn.tedu.ttms.video.entity.VideoEntity">

		INSERT INTO video
		(
		tcode,
		vname,
		type,
		longitude,
		latitude,
		vport,
		dvrIP,
		userName
		)
		values(
		#{tcode},
		#{vname},
		#{type},
		#{longitude},
		#{latitude},
		#{vport},
		#{dvrIP},
		#{userName}
		)
	</insert>
	<update id="updateObject"
		parameterType="cn.tedu.ttms.video.entity.VideoEntity">
		update video
		set
		tcode=#{entity.tcode},
		vname=#{entity.vname},
		type=#{entity.type},
		longitude=#{entity.longitude},
		latitude=#{entity.latitude},
		vport=#{entity.vport},
		dvrIP=#{entity.dvrIP},
		userName=#{entity.userName}
		where vid=#{entity.vid};
	</update>
	<delete id="deletObject" parameterType="java.lang.Integer">
		delete from video where
		vid = #{vid}
	</delete>

</mapper> 